body, html {
  flex: 0 0 100%;
  height: 100%;
  margin: 0px;
  margin-top: 0px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



#root {
  width: 100%;
  padding: 0%;
}

.presentListContainer {
  width: 25%;
  flex-direction: column;
  text-align: center;
  background-color: white;
  padding: 2em;
}

ul {
  display:flex;
  padding-left: 1.5%;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-block-start: 0%;
  flex-direction: column;
  background-color: white;
  width: 100%;
  list-style-type: none;
  align-items: flex-start;
}

li {
  color: black; 
  font-size: x-large;
  font-weight: bold;
  padding: 0.1em;
}

h1 {
  margin: 0%;
  font-size: 4em;
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;

}


