
body > #root > div {
  height: 100vh;
}

body {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  height: 100vh;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: black;
}

:root {
  height: 100vh;
}


.regalos{
  background-color: rgb(28, 17, 79);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: 100ms linear;

}

.regalos:hover {
  transform: scale(1.1);
  transition: 100ms linear;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.imagenPortada {
  align-items: center;
  justify-content: center;
  height: 'auto'; 
  max-width: 100%;
  text-align: center;
  transition: 100ms linear;
}

.imagenPortada:hover {
  transition: 100ms linear;
  transform: scale(1.1);
}




